
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="container-fluid">
    <a asp-action="Cars" asp-controller="Admin" class="btn btn-primary">Bilar</a>
    <a asp-action="Users" asp-controller="Admin" class="btn btn-primary">Användare</a>
    <a asp-action="Bookings" asp-controller="Admin" class="btn btn-primary">Bokningar</a>
</div>

