@model IEnumerable<FribergsBilar.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Användare</h1>

<p>
    <a asp-action="Create" asp-controller="User">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mail
            </th>
            <th>
                Lösenord
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                    <a asp-action="Edit" asp-controller="User" asp-route-id="@item.UserId">Redigera</a> |
                    <a asp-action="Delete" asp-controller="User"  asp-route-id="@item.UserId">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Dashboard" asp-controller="Admin">Tillbaka</a>
</div>
