@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fribergs Bilar</h1>   
    
    <div>
        <div>
            <h2>Vilka är Fribergs bilar</h2>
            <p>Här skriver man vem marcus friberg är och om hans bilar</p>
        </div>
    </div>


    
</div>
